@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
    <a href="https://codeseven.github.io/toastr/" target="_blank" class="pr-1">Toastr.js</a>
    port to Blazor (<u>all credits should go to them</u>)
  <a href="https://github.com/sotsera/sotsera.blazor.toaster" target="_blank" class="ml-md-auto">Github</a>
</div>

    <div class="content px-4">
        @Body
    </div>
</div>
