@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the MIT License. See License.txt in the project root for license information.
*@
@inherits ToastContainerModel
<div id="toast-container" class="@Class">
    @foreach (var toast in Toasts)
    {
        <ToastElement @key="toast" Toast="@toast"></ToastElement>
    }
</div>