@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the MIT License. See License.txt in the project root for license information.
*@
@inherits ToastContainerModel
@using Sotsera.Blazor.Toaster.Core
<div id="toast-container" class="@Class">
    @foreach (var toast in Toasts)
    {
        <ToastElement Toast="toast"></ToastElement>
    }
</div>